<div class="sidebar">
  <nav class="sidebar-nav">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" ui-sref-active="active" ui-sref="app.main"><i class="fa fa-spinner"></i> Escher</a>
      </li>
      <!--<li class="nav-item nav-dropdown" ng-class="{open: $state.includes('app.historic')}">
        <a class="nav-link nav-dropdown-toggle" ng-class="{active: $state.includes('app.historic')}" href="#"><i class="fa fa-hourglass-end"></i> Historic</a>
        <ul class="nav-dropdown-items">
        </ul>
      </li>-->
      <li class="nav-item nav-dropdown" ng-class="{open: $state.includes('app.howto')}">
        <a class="nav-link nav-dropdown-toggle" ng-class="{active: $state.includes('app.howto')}" href="#"><i class="fa fa-university"></i> How to</a>
        <ul class="nav-dropdown-items">
          <li class="nav-item">
            <a class="nav-link" ui-sref-active="active" ui-sref="app.fusion"><i class="icon-star"></i> Fusion</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" ui-sref-active="active" ui-sref="app.pyrus"><i class="icon-star"></i> Pyrus</a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</div>
